
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.web-nVJ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #000000;

  .auto-group-gc7n-TLY {
    padding: 1.9rem 19.4rem 1.9rem 2.3rem;
    height: 102.4rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-17me-KXA {
      margin-right: 1.45rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .image-1-TdN {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        width: 4.6rem;
        height: 4.6rem;
        object-fit: cover;
      }
      .group-yrc {
        flex-shrink: 0;
        margin-left: 0rem;
        width: 2.8rem;
        height: 2.8156rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-jcxn-Wbe {
      margin-top: 1.1rem;
      width: 44.25rem;
      flex-shrink: 0;

      .animeyabu-rfW {
        letter-spacing: 0.143rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        width: 100%;
        line-height: 1.171875;
        font-size: 2.2rem;
        font-weight: 900;
        display: flex;
        margin-bottom: 3.3rem;
        text-align: center;

        .animeyabu-rfW-sub-0 {
          font-size: 2.2rem;
          font-weight: 900;
          line-height: 1.1725;
          letter-spacing: 0.143rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .animeyabu-rfW-sub-1 {
          line-height: 1.1725;
          letter-spacing: 0.143rem;
          color: #ca38ed;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 900;
        }
      }
      .group-113-tu2 {
        margin-left: 9.85rem;
        width: 34.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-107-DRW {
          width: calc(100% - 19.3rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 9.8rem 3.2rem 9.5rem;

          .pack2818-1-wMW {
            height: 14.9rem;
            position: relative;
            background-size: 203.797% 100%;
            background-position: -0.027rem 0;
            background-image: url('REPLACE_IMAGE:c80799cbb9d60abd63d9f6a930f586b3df302364');
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 14.5rem;
          }
          .item--dEL {
            font-size: 3.6538rem;
            font-weight: 900;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3rem;
            line-height: 1.5;
            letter-spacing: 0.2375rem;
            color: #ffffff;
          }
          .bem-vindoa-EtL {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 3.8rem;
            font-size: 1.6rem;
            letter-spacing: 0.104rem;
            font-style: italic;
            font-weight: 400;
            line-height: 1.1725;
            white-space: nowrap;
          }
        }
        .group-109-kbn {
          margin: 0rem 0rem 0.4rem 0.1rem;
          width: 34.3rem;
          border-radius: 1rem;
          flex-shrink: 0;

          .email-fik {
            white-space: nowrap;
            margin-left: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0103rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .auto-group-toac-QAY {
            font-family: Archivo, 'Source Sans Pro';
            border: solid 0.2rem #ad3c40;
            box-sizing: border-box;
            font-weight: 400;
            line-height: 1.0875;
            color: #d8d5d8;
            background-color: rgba(255, 255, 255, 0.4699999988);
            border-radius: 1rem;
            padding: 2.2rem 2.1rem 2rem 2.1rem;
            width: 100%;
            font-size: 1.6rem;
            white-space: nowrap;
          }
        }
        .email-invlido-qme {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          color: #ad3c40;
          font-family: Poppins, 'Source Sans Pro';
          margin-left: 22.6rem;
          font-size: 1.4rem;
          line-height: 1.5;
          letter-spacing: -0.0103rem;
        }
        .group-108-eDJ {
          margin: 0rem 0rem 2.5rem 0.1rem;
          width: 34.3rem;
          flex-shrink: 0;

          .senha-Nuz {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0103rem;
            color: #ffffff;
          }
          .auto-group-6ira-iDA {
            width: 100%;
            height: 6rem;
            position: relative;

            .group-102-f8Q {
              width: 34.3rem;
              height: 6rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(255, 255, 255, 0.4699999988);
              box-sizing: border-box;
              border: solid 0.2rem #ffffff;
              border-radius: 1rem;
              padding: 2.3rem 1.9rem 2.2rem 30.2rem;

              .vector-nD2 {
                object-fit: contain;
                vertical-align: top;
                width: 2.2rem;
                height: 1.5rem;
              }
            }
            .item--gZJ {
              line-height: 1.0875;
              color: #d8d5d9;
              white-space: nowrap;
              height: 1.8rem;
              left: 2.1rem;
              top: 2.3rem;
              font-size: 1.6rem;
              font-weight: 400;
              width: 6.4rem;
              position: absolute;
              font-family: Archivo, 'Source Sans Pro';
            }
          }
        }
        .group-110-kp4 {
          margin: 0rem 0rem 3.3rem 0.1rem;
          width: 34.3rem;
          flex-shrink: 0;

          .confirmar-senha-uBA {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0103rem;
          }
          .auto-group-wrpn-q4p {
            width: 100%;
            height: 6rem;
            position: relative;

            .group-103-Pc8 {
              padding: 2.3rem 1.9rem 2.2rem 30.2rem;
              border: solid 0.2rem #ffffff;
              left: 0;
              top: 0;
              background-color: rgba(255, 255, 255, 0.4699999988);
              border-radius: 1rem;
              box-sizing: border-box;
              width: 34.3rem;
              height: 6rem;
              position: absolute;

              .vector-Wgk {
                width: 2.2rem;
                height: 1.5rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item--E6x {
              width: 6.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              color: #d8d5d9;
              white-space: nowrap;
              height: 1.8rem;
              position: absolute;
              left: 2.1rem;
              top: 2.3rem;
              line-height: 1.0875;
              font-family: Archivo, 'Source Sans Pro';
            }
          }
        }
        .group-111-7wS {
          line-height: 1.0875;
          font-family: Archivo, 'Source Sans Pro';
          margin: 0rem 0.4rem 4.3rem 0.2rem;
          width: calc(100% - 0.6rem);
          font-weight: 700;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          background-color: #e487fb;
          height: 6rem;
          text-align: center;
          color: #3e1149;
          white-space: nowrap;
          font-size: 1.6rem;
          display: flex;
          border-radius: 1rem;
        }
        .group-112-PPA {
          margin: 0rem 0.2rem 2rem 0rem;
          width: 34.2rem;
          height: 2.1rem;
          position: relative;
          flex-shrink: 0;

          .ou-se-registre-com-jC8 {
            white-space: nowrap;
            width: 13.1rem;
            height: 2.1rem;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.5;
            letter-spacing: -0.0103rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            position: absolute;
            left: 10.7rem;
            top: 0;
            font-weight: 400;
          }
          .group-83-pjN {
            left: 0;
            top: 1rem;
            border-top: solid 0.2rem #ffffff;
            box-sizing: border-box;
            width: 34.2rem;
            height: 0.2rem;
            position: absolute;
          }
        }
        .auto-group-qclc-wJC {
          height: 5.1rem;
          display: flex;
          column-gap: 4.3rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 5.1rem 4.6rem 5.4rem;
          width: calc(100% - 10.5rem);

          .group-100-eyJ {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.035rem 0.969rem 0.968rem 1.035rem;
            height: 100%;
            border: solid 0.2rem #ffffff;
            background-color: rgba(255, 255, 255, 0.4699999988);
            border-radius: 1rem;

            .instagram-logo-znG {
              object-fit: contain;
              vertical-align: top;
              width: 3.0959rem;
              height: 3.0967rem;
              position: relative;
            }
          }
          .group-99-7M6 {
            padding: 1.33rem 0.932rem 1.257rem 1.074rem;
            height: 100%;
            border: solid 0.2rem #ffffff;
            background-color: rgba(255, 255, 255, 0.4699999988);
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .twitter-logo-41S {
              vertical-align: top;
              width: 3.094rem;
              height: 2.513rem;
              object-fit: contain;
            }
          }
          .group-98-Nnp {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5.1rem;
            height: 5.1rem;
          }
        }
        .j-membro-faa-login-vpL {
          text-align: center;
          font-size: 1.6rem;
          letter-spacing: 0.104rem;
          font-style: italic;
          color: #ffffff;
          white-space: nowrap;
          align-items: baseline;
          margin-right: 1rem;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          font-weight: 400;

          .j-membro-faa-login-vpL-sub-0 {
            font-style: italic;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            letter-spacing: 0.104rem;
          }
          .j-membro-faa-login-vpL-sub-1 {
            font-weight: 400;
            line-height: 1.1725;
            letter-spacing: 0.104rem;
            font-style: italic;
            color: #e487fb;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .auto-group-q6h2-mTa {
    width: 72rem;
    height: 102.4rem;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.3rem 1.8rem 7.4rem 7.4rem;
    background-color: #3e1149;
    align-items: center;
    display: flex;

    .auto-group-zpg8-U76 {
      width: 100%;
      height: 68.9rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-2-pgk {
        height: 54.8rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #e487fb;
        border-radius: 27.4rem;
        width: 54.8rem;
      }
      .ddkkrta-d3d6161c-7370-4ec7-a1e0-6a051999be0f-1-Yck {
        background-position: -8.4987rem 0rem;
        background-image: url('REPLACE_IMAGE:550b77e45eaea4172bc2336174c45578155b4e15');
        width: 62.2rem;
        height: 62.5rem;
        position: relative;
        left: 0.6rem;
        top: 6.4rem;
        background-size: 128.096% 170.213%;
      }
    }
    .animeyabu-CxC {
      flex-shrink: 0;
      text-align: center;
      font-weight: 900;
      line-height: 1.1718749985;
      letter-spacing: 0.5208rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      display: flex;
      margin: 0rem 5.579rem 0.7rem 0rem;
      font-size: 8.0128rem;
      white-space: nowrap;
      align-items: baseline;

      .animeyabu-CxC-sub-0 {
        font-weight: 900;
        line-height: 1.1725;
        letter-spacing: 0.5208rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 8.0128rem;
      }
      .animeyabu-CxC-sub-1 {
        letter-spacing: 0.5208rem;
        color: #ca38ed;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 8.0128rem;
        font-weight: 900;
        line-height: 1.1725;
      }
    }
    .assista-animes-online-em-hd-legendado-ou-dublado-no-seu-celular-ou-computador-animeyabu-o-seu-portal-de-animes-online-hGg {
      line-height: 1.171875;
      flex-shrink: 0;
      margin: 0rem 5.1rem 2.7rem 0rem;
      max-width: 42.3rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';

      .assista-animes-online-em-hd-legendado-ou-dublado-no-seu-celular-ou-computador-animeyabu-o-seu-portal-de-animes-online-hGg-sub-0 {
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.1725;
      }
      .assista-animes-online-em-hd-legendado-ou-dublado-no-seu-celular-ou-computador-animeyabu-o-seu-portal-de-animes-online-hGg-sub-1 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-yxnl-Xuv {
      width: calc(100% - 49.7rem);
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 27.4rem 0rem 22.3rem;

      .rectangle-11-Fqv {
        width: 3.9rem;
        height: 0.6rem;
        background-color: #c4c4c4;
        border-radius: 5.3rem;
        flex-shrink: 0;
      }
      .rectangle-12-QD2 {
        width: 3.9rem;
        height: 0.6rem;
        background-color: rgba(196, 196, 196, 0.4799999893);
        border-radius: 5.3rem;
        flex-shrink: 0;
      }
      .rectangle-13-9RW {
        width: 3.9rem;
        height: 0.6rem;
        background-color: rgba(196, 196, 196, 0.4799999893);
        border-radius: 5.3rem;
        flex-shrink: 0;
      }
    }
  }
}
